.search {
  background-color: #191a1e;
  border: none;
}

.card-title {
  display: flex;
  align-items: center;
  color: #d1d1d1;
}

.card {
  border-radius: 0;
  border: 0;
  transition: 0.3s;

  &:hover {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

.card-header {
  font-weight: bold;
  background-color: #191a1e;

  &:first-child {
    border-radius: 0;
  }
}

.card-body {
  background-color: #191a1e;

  h6 {
    color: #929292;

    b {
      color: #d1d1d1;
      padding: 0 10px 0 10px;
    }
  }
}

.show-btn {
  border: 1px solid;
  padding: 10px 20px 10px 20px;
}